.vscode/
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

devops-frontend/node_modules/
devops-frontend/dist/
devops-frontend/dist-ssr/
devops-frontend/*.local
devops-frontend/.vscode/
devops-frontend/.idea/
devops-frontend/.DS_Store/
devops-frontend/*.suo
devops-frontend/*.ntvs*
devops-frontend/*.njsproj
devops-frontend/*.sln
devops-frontend/*.sw?
devops-frontend/Dockerfile
devops-frontend/.dockerignore
devops-frontend/nginx.conf

devops-proyect/target/
devops-proyect/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

devops-proyect/.vscode/
devops-proyect/.idea/
devops-proyect/.DS_Store/
devops-proyect/*.suo
devops-proyect/*.ntvs*
devops-proyect/*.njsproj
devops-proyect/*.sln
devops-proyect/*.sw?
devops-proyect/src/main/resources/application.properties
devops-proyect/Dockerfile

devops-database
devops-database/Dockerfile

devops-gateway/HELP.md
devops-gateway/target/
devops-gateway/.mvn/wrapper/maven-wrapper.jar
devops-gateway/!**/src/main/**/target/
devops-gateway/!**/src/test/**/target/